.footer{
  background-color: rgb(33,37,41);
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;

}
.footer h4{
  color: white;
  margin: 0;
  padding-top: 1.3rem;
  font-size: 1rem;
}

.footer img{
  width: 20px;
  height: 20px;
  margin-right: .6rem;
}

@media only screen and (min-width:1000px){

}